# FastAPI framework
fastapi==0.111.1

# ASGI server to run FastAPI
uvicorn[standard]==0.23.2

# Async MongoDB driver
motor==4.3.0

# Load environment variables from .env files
python-dotenv==1.0.1

# Pydantic for data validation
pydantic==2.12.1

# Pydantic settings (v2+)
pydantic-settings==1.10.1

# Email validation for EmailStr
email-validator==2.3.0